# Data Science Tools and Ecosystems

In this notebook, Data science Tools and Ecosystems are summarized.

Objectives: 
List popular languages for Data Science

* Python 
* R 
* Julia
* SQL
* Scala

Some of the popular languages that Data science use are:

1. Python 
2. Java 
3. R

Some of the commonly used libraries used by Data Science include:

1. Panda
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Python |
| Tableau |
| Tenserflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Autor
Claudio Vaza